################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/проект/FileContentIndex
/.vs/Project-5th/FileContentIndex
/.vs/project/v17
*.vsidx
/проект 5 курс/.vs/проект 5 курс/FileContentIndex/128124f9-1137-4580-99cb-edf9e1b3d54c.vsidx
/проект 5 курс/.vs/проект 5 курс/FileContentIndex/128124f9-1137-4580-99cb-edf9e1b3d54c.vsidx
/проект 5 курс/.vs/проект 5 курс/FileContentIndex/8bad3a15-829c-41bf-b296-6643f15cb1f5.vsidx
/проект 5 курс/.vs/проект 5 курс/FileContentIndex/a84823d6-4f21-4887-a875-c3e45b6afcb9.vsidx
/проект 5 курс/.vs/проект 5 курс/FileContentIndex/efe894dc-2105-4f28-8f55-c2faa6ad9210.vsidx
/проект 5 курс/.vs/проект 5 курс/FileContentIndex/f508f921-95ae-48f6-a099-9d91fa81cbe7.vsidx
/проект 5 курс/obj/Debug/net8.0/проект 5 курс.GeneratedMSBuildEditorConfig.editorconfig
/проект 5 курс/obj/project.assets.json
/проект 5 курс/obj/project.nuget.cache
/проект 5 курс/obj/проект 5 курс.csproj.nuget.dgspec.json
/проект 5 курс/obj/Debug/net8.0/проект 5 курс.assets.cache
*.wsuo
/проект 5 курс/.vs/проект 5 курс/DesignTimeBuild/.dtbcache.v2
/проект 5 курс/.vs/проект 5 курс/v17/.suo
