################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/проект/FileContentIndex
/.vs/Project-5th/FileContentIndex
/.vs/project/v17
